# Author: Arjun Viswanathan
# Date Created: 5/26/22
# Creating a Siamese Neural Network (SNN) architecture using PyTorch.
# Network takes in 2 sets of inputs, and trains on them to gives 1 output, which can be the eutectic proportion or temperature.
# Currently using eutectic proportions.

In [1]:
import torch
import pandas as pd
import numpy as np
import importlib
import ModelRunner as MR
import MakeDataset as MD
import SiameseNeuralNetwork as SNN
from matplotlib import pyplot as plt

In [2]:
# Load the dataset. 
# molecule_features: First col is a string containing name of molecule. Rest are floats containing its features
# eutectic_compilation: First 2 cols are strings containing molecule names, third col is eutectic proportion, fourth is eutectic temperature

molecule_features = pd.read_csv("D:\\Research\\UConn_ML\\data\\eutectic_mixtures-main\\single_components.csv").drop(["xlogp"], axis=1)
eutectic_compilation = pd.read_csv("D:\\Research\\UConn_ML\\data\\eutectic_mixtures-main\\eutectic_compilation.csv")

molecule_features[molecule_features.columns[1:]] = molecule_features[molecule_features.columns[1:]].astype(float)
eutectic_compilation[eutectic_compilation.columns[3]] = eutectic_compilation[eutectic_compilation.columns[3]].astype(float)

In [3]:
# Some indices in eutectic_compilation do not exist in single_components. They will need to be removed.
# Some of the eutectic proportions are inconvertible to floats from strings. They will also need to be removed.
# missing_molecules will store all molecules that are missing features from eutectic_compilation
drops = np.array([]).astype(int)
missing_molecules = np.array([]).astype(str)
for i in range(len(eutectic_compilation)):
    ec = eutectic_compilation.iloc[i]
    m1 = ec[0]
    m2 = ec[1]
    xe = ec[2]
    
    m1f = molecule_features.loc[molecule_features.mol == ec[0]]
    m2f = molecule_features.loc[molecule_features.mol == ec[1]]
    
    try:
        xe = float(xe)
    except ValueError:
        drops = np.append(drops, i)
    
    if(len(m1f) == 0 or len(m2f) == 0):
        drops = np.append(drops, i)
        
        if(len(m1f) == 0):
            missing_molecules = np.append(missing_molecules, m1)
        elif(len(m2f) == 0):
            missing_molecules = np.append(missing_molecules, m2)

eutectic_compilation = eutectic_compilation.drop(eutectic_compilation.index[drops])
# np.savetxt("missing_molecules.csv", missing_molecules, delimiter=",", fmt="%s")

In [4]:
# Split the eutectic compilation dataframe by a ratio into training and testing sets
split = 0.95
train_ec = eutectic_compilation.sample(frac=split)
test_ec = eutectic_compilation.drop(train_ec.index)

split = 0.10
val_ec = train_ec.sample(frac=split)
train_ec = train_ec.drop(val_ec.index)

In [5]:
molecule_features

,mol,molecular_weight,complexity,rotatable_bond_count,heavy_atom_count,topological_area
0,BaO,153.3300,2.0,0.0,2.0,17.1
1,CrCl3,158.3500,0.0,0.0,4.0,0.0
2,PBr5,430.4900,37.1,0.0,6.0,0.0
3,WCl5,361.1000,37.1,0.0,6.0,0.0
4,HgI2,454.4000,2.8,0.0,3.0,0.0
...,...,...,...,...,...,...
672,PBr3,270.6900,8.0,0.0,4.0,0.0
673,PbSiO3,283.0000,18.8,0.0,5.0,63.2
674,LiI,133.9000,2.0,0.0,2.0,0.0
675,EuF3,208.9590,8.0,0.0,4.0,0.0
676,TaF5,275.9399,37.1,0.0,6.0,0.0

In [6]:
eutectic_compilation

       molA   molB    xe      Te
0       BF3    N2O  76.6  -138.0
1       BF3    SO2  95.2  -128.6
2      BCl3  GeCl4    76  -116.0
3      BCl3   PCl3    94  -110.0
4      BCl3   PCl3    20   -99.0
...     ...    ...   ...     ...
4463  Sc2O3   ZrO2  52.2  2450.0
4464    UO2   ZrO2  47.5  2550.0
4465    UO2   ZrO2    50  2550.0
4466     UN      W   100  2700.0
4467    CsI  NaCNS  10.8   208.4

[3980 rows x 4 columns]

In [7]:
train_ec

       molA   molB    xe      Te
4200   CeO2  Fe3O4  38.7  1510.0
2274  CrCl3   NaCl  25.5   564.0
1094  FeCl3  HfCl4    62   300.0
3501   CaF2     KF    24   780.0
989   HgCl2   LiCl  98.4   278.0
...     ...    ...   ...     ...
2138   UCl4    UO2    91   540.0
2860  Ag2Se   PbSe    75   660.0
4072  Al2O3    WO3    23  1190.0
1677  BaBr2   SrI2    20   450.0
4406    MgO   Y2O3    52  2080.0

[3403 rows x 4 columns]

In [8]:
val_ec

       molA     molB    xe      Te
2244    KCl    YbCl2    67   560.0
2851    KCl    TbCl3    86   660.0
4089  Al2O3     MgF2   2.6  1250.0
2498  CaCl2  Na2TiF6  94.4   605.0
2136  CdCl2    CdSO4    85   540.0
...     ...      ...   ...     ...
4270  Gd2O3     SiO2  26.4  1710.0
2512    LiF   Li2CO3    49   608.0
2516    CsF      NaF    76   610.0
4456   Y2O3     ZrO2  83.1  2350.0
726    AgCl     TlCl  56.1   218.0

[378 rows x 4 columns]

In [9]:
test_ec

       molA   molB    xe      Te
21    SiCl4  TeCl4    99   -68.0
62    AsBr3  SnBr4    45     3.5
113    CuCl  GaCl3   5.2    60.0
117    SbF5   XeF2  80.5    63.0
122   GaCl2  GaCl3    41    66.0
...     ...    ...   ...     ...
4400  Cr2O3   Y2O3    80  2070.0
4403  Cr2O3  Sm2O3    84  2080.0
4407    MgO   Y2O3    52  2080.0
4449    SrO   ZrO2    27  2270.0
4464    UO2   ZrO2  47.5  2550.0

[199 rows x 4 columns]

In [10]:
print(molecule_features.columns)
print(eutectic_compilation.columns)

Index(['mol', 'molecular_weight', 'complexity', 'rotatable_bond_count',
       'heavy_atom_count', 'topological_area'],
      dtype='object')
Index(['molA', 'molB', 'xe', 'Te'], dtype='object')

In [11]:
print(molecule_features.dtypes)
print(eutectic_compilation.dtypes)

mol                      object
molecular_weight        float64
complexity              float64
rotatable_bond_count    float64
heavy_atom_count        float64
topological_area        float64
dtype: object
molA     object
molB     object
xe       object
Te      float64
dtype: object

In [12]:
molecule_features.iloc[0]

mol                        BaO
molecular_weight        153.33
complexity                 2.0
rotatable_bond_count       0.0
heavy_atom_count           2.0
topological_area          17.1
Name: 0, dtype: object

In [13]:
print("Train Size: ", len(train_ec))
print("Validation Size: ", len(val_ec))
print("Test Size: ", len(test_ec))

Train Size:  3403
Validation Size:  378
Test Size:  199

In [14]:
importlib.reload(MD)

In [15]:
# Define parameters and datasets to pass into trainer. Pass in order of definition
starting_features = 5
batchsize = 25
max_epochs = 30
lrmin = 1e-5
lrmax = 5e-4
train_dset = MD.MD(train_ec, molecule_features, starting_features)
val_dset = MD.MD(val_ec, molecule_features, starting_features)
test_dset = MD.MD(test_ec, molecule_features, starting_features)

# Set the baselines for training, validation, and testing
# MSE is basically variance, so the baseline is the variance of the dataset
train_var = torch.std(torch.tensor(np.array(train_ec["xe"]).astype(float) / 100.0))**2
# train_mean = torch.mean(torch.tensor(np.array(train_ec["Te"])))

train_param = "xe"

In [ ]:
# Call training and testing class and send all required parameters 
importlib.reload(MR)
importlib.reload(SNN)
modelrunner = MR.MR(starting_features, batchsize, max_epochs, lrmin, lrmax, 
                    train_dset, val_dset, test_dset, train_var, train_param)

trloss, trbase, vloss, vbase = modelrunner.train_and_validate()
outputs, invouts, truths = modelrunner.test_plot_stats()

In [ ]:
l = len(trloss)
x = np.arange(l)
fig, axes = plt.subplots(1, 2)
fig.set_figheight(5)
fig.set_figwidth(15)
            
axes[0].plot(x, trloss[0:l], label="Train Running Loss", c="blue")
axes[0].plot(x, trbase[0:l], label="Train Baseline Loss", c="red")
axes[0].set_title("Graph of Training Loss Against a Baseline")
axes[0].set(xlabel="Epoch", ylabel="Loss")
axes[0].legend(loc="upper right")

axes[1].plot(x, vloss[0:l], label="Val Running Loss", c="blue")
axes[1].plot(x, vbase[0:l], label="Val Baseline Loss", c="red")
axes[1].set_title("Graph of Validation Loss Against a Baseline")
axes[1].set(xlabel="Epoch", ylabel="Loss")
axes[1].legend(loc="upper right")

plt.show()

In [ ]:
fig, axes = plt.subplots(5, 2)
fig.set_figheight(40)
fig.set_figwidth(15)

l = 25
pred = 0
succ = 1
x = np.arange(l)
        
for row in range(5):
    axes[row, 0].scatter(x, outputs[pred*l:succ*l] - truths[pred*l:succ*l], c="red")
    axes[row, 0].plot(x, np.zeros((l,)), c="green", label="0 Point")
    axes[row, 0].set(xlabel="Data Points", ylabel="Residuals")
    axes[row, 0].legend(loc="upper right")

    axes[row, 1].scatter(truths[pred*l:succ*l], outputs[pred*l:succ*l], c="green")
    axes[row, 1].plot(truths[pred*l:succ*l], truths[pred*l:succ*l], label="Accuracy Line")
    axes[row, 1].set(xlabel="Actual Xe", ylabel="Predicted Xe")
    axes[row, 1].legend(loc="upper right")

    plt.ylim([0, 1])
            
    pred += 1
    succ += 1
    
axes[0, 0].set_title("Residual plots of predicted and actual eutectic proportion Xe")
axes[0, 1].set_title("Scatter plots of predicted vs actual eutectic proportion Xe")
plt.show()

In [ ]:
# fig.savefig('D:\\Research\\UConn_ML\\Images\\snn_results_plots.png')

In [ ]:
# Print the values from the last batch processed just for the user to see
disp = pd.DataFrame({
    'f(A,B)': np.round(outputs[0:l], 3),
    'f(B,A)': np.round(invouts[0:l], 3),
    'f(A,B) + f(B,A)': outputs[0:l] + invouts[0:l],
    'Truth': np.round(truths[0:l], 3),
    'Pred': np.round(outputs[0:l], 3)})
        
disp.style.set_properties(**{'width': '150px'})